<form action="/juices/<%=@juice.id%>" method="PATCH">
  <input type="text" name="juice[name]" value="<%= @juice.name %>">
  <input type="text" name="juice[size]" value="<%= @juice.size %>">
  <input type="submit" name="" value="Submit">
</form>
